.nav-drawer-scope {
    text-decoration: none; /* TODO: Make the topic mark disapear */
}

.drawer-btn__line {
    width: 30px;
    height: 2px;
    padding: 1px;
    background: rgb(77, 143, 68);
}

.drawer-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.drawer-btn:focus {
    outline: none;
}