
.side-menu .open{
    top: 0;
     left: 0;
     padding: 40px;
     background: black;
     position: absolute;
 }
 
 .side-menu {
     top: 100;
      left: 0;
      padding: 10px;
      background: rgb(146, 23, 23);
      position: absolute;
  }