.navbar {
    background: #8d8d89;
    height: 20px;
    position: fixed;
    width: 100%;
    left:0;
    top:0;
}

.logo a {
    background: #0b8d3d;
    width: 11%;
    position: fixed;
    top: 0;
    font-size: 1.3rem;
}

.menu {
    border: 3px solid rgb(95, 19, 19);
    display: inline-block;
}