/*LOGO*/

.navbar-logo {
    background: url(../images/logo_background.png) -80px -80px;
    font-family: fantasy;
    font-size: 50px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.navbar-logo a{
    text-decoration: none;
}


/* Navbar width, background, etecetera*/
.navbar {
    background-image: linear-gradient(-900deg,
    rgb(16, 63, 78), rgb(2, 24, 31));
    height: 56px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1000; 
}

/*
@media (max-width: 500px) {
    .navbar-menu-items .open {
        text-decoration: none;
        position: flex;
        top: 65px;
        left: 0;
    }
    .navbar-menu-items {
        text-decoration: none;
        position: flex;
        top: 65px;
        left: 0;
    }
}
*/

/*TODO: This is duplicated and not inline. Do not force the navbar's content to be inline
Their components must  behave as it should do. Who knows what display itself?
Of course, the proper component does the required behavior**/

.navbar-menu * {
    right: 20px;
    background: none;
    position: absolute;
    display: inline
}

.navbar-menu a:hover {
    background-color: #0f0f0f;
    color: white;
}
.navbar-menu a {    
    background: rgb(177, 170, 170);
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

